<div id="conteiner">
    <h2>
      Educacion
    </h2>

    <h3>Educacion1</h3>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ex amet eos aliquam, unde blanditiis ipsum veritatis dolor distinctio soluta saepe vel dignissimos modi nam sed nostrum nulla tenetur inventore.s
</p>
    <h4>Educacion2 </h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque consectetur veniam vero dolorem voluptatem recusandae ducimus, quis velit eligendi aliquid voluptatum incidunt 
        pariatur unde explicabo voluptatibus voluptates vel nemo! Tempora.</p>

</div>

