<div class="row">
    <div class="container">
        <div class="logo"> <img src="../../../assets/img/APLogo.png" id="logo">
   </div>
    <div class="redes">
        <a href="https://github.com/chapixd"> <img src="../../../assets/img/github.png" id="github"></a>
        <a href="https://www.facebook.com/maximo.arganaraz/"> <img src="../../../assets/img/facebook.png" id="facebook"></a>
        <a href="https://www.instagram.com/maximo_arganaraz_/?hl=es-la"> <img src="../../../assets/img/instagram.png" id="instagram"></a>
        <a href="https://www.linkedin.com/in/maximo-arga%C3%B1araz-a72390213/"> <img src="../../../assets/img/linkedin.png" id="linkedin "></a>

        <button class="btn btn-outline-light btn-lg px-4" type="submit" routerLink="/login/">Login</button>  
        <button class="btn btn-outline-light btn-lg px-4" type="submit" >Cerrar Sesion</button>
    </div>



    </div>
</div>

















    