<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/img/yoo.png" 
    class="img-fluid" id="fotodePerfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Maximo Argañaraz</p>
    <p>Full Stack Developer jr</p>
  </div>
  <div calss="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
    <span>
      <h1>Sobre Mi</h1>
      <p>Tengo 20 años, soy de la provincia de Tucuman.
        Actualmente estoy cursando la carrera de Profesorado en Informatica en el Instituto Nicolas Avellaneda.
        En 2021 ingrese a ingeniera de sistemas pero me di cuenta que no me gustaba y decidi irme por la parte de programacion.

Me gustaria seguir creciendo en programacion, por eso el año que viene me gustaria entrar a Programacion Universitaria
      </p>
    </span>
  </div>

</div>
     