<div id="div"> 
<h2>Más sobre mi</h2>
              <p>
                Actualmente estoy cursando la carrera de Profesorado en Informatica en el Instituto Nicolas Avellaneda.
                </p>
                <p>
                  En primer año adquiri conocimientos en HTML, CSS Y este segundo año estoy viendo programacion en c# y bases de datos en ACCESS.
                </p>
                <p>
                  En 2021 ingrese a ingeniera de sistemas pero me di cuenta que no me gustaba y decidi ireme por la parte de programacion.
                </p>
                <p>
                  Me gustaria seguir creciendo en programacion, por eso el año que viene me gustaria entrar a Programacion Universitaria
                </p>
                <p>
                  Trabajo con mi padre en su empresa de seguridad informatica y servicio tecnico de aparatos informaticos.
                </p>
                <p>
                  Mi ROL aqui es, encargarme de las ventas, stocks de productos y servicio tecnico
                </p>

    </div>
     