<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/img/yoo.png" 
    class="img-fluid" id="fotodePerfil">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">{{persona.nombre}}</p>
    <p>Full Stack Developer jr</p>
  </div>
  <div calss="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
    <span>
      <h1>Sobre Mi</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Nulla, tenetur debitis dolore nihil deleniti iusto asperiores
         ea aut, commodi blanditiis nam. 
        Quam unde distinctio molestias corrupti fugiat ut aliquid 
        voluptates.</p>
    </span>
  </div>

</div>
     