<div id="conteiner">



<div class="col-lg-1"></div>
    <div class="col-lg-11">
      <table class="table">
        <tbody>
          <tr *ngFor="let Experiencia of experiencia">
            <td>
              <h2>{{Experiencia.nombreEx}} </h2>
            </td>
            <td>{{Experiencia.descripcionEx}}</td>
            <td>
              <button type="button" class="btn btn-primary" routerLink="/editEdu/{{Experiencia.id}}">
                <i class="bi bi-pencil-square"></i>
              </button>Editar
            </td>
  
  
            <td>
              <button type="button" class="btn btn-danger" (click)="delete(Experiencia.id)">
                <i class="bi bi-x-circle-fill"></i>
              </button>Borrar
            </td>
          </tr>
        </tbody>
      </table>
  
  
    </div>
  
  </div>