<div id="conteiner"  class="row">
    <h1 >Mis Habilidades</h1>
    

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="40"
            [radius]="30"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#8F12D2'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"

            [imageSrc]="'../../../assets/img/angular.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="30"
            [imageWidth]="30"
    >
            </circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="30"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#8F12D2'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"

            [imageSrc]="'../../../assets/img/cc.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="30"
            [imageWidth]="30"
    >
        </circle-progress>
    </div>


    <div class="col-sm-4 col-md-4 col-lg-4">
    
        <circle-progress
            [percent]="45"
            [radius]="30"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#8F12D2'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"

            [imageSrc]="'../../../assets/img/css.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="30"
            [imageWidth]="30"
    >
        </circle-progress>
    </div>




    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="30"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#8F12D2'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"


            [imageSrc]="'../../../assets/img/html.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="30"
            [imageWidth]="30"
    >
        </circle-progress>
    </div>




    <div class="col-sm-4 col-md-4 col-lg-4">

        <circle-progress
            [percent]="30"
            [radius]="30"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#8F12D2'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"


            [imageSrc]="'../../../assets/img/photoshop.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="30"
            [imageWidth]="30"
    >
            </circle-progress>
    </div>




    <div class="col-sm-4 col-md-4 col-lg-4">
      
        <circle-progress
            [percent]="100"
            [radius]="30"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#8F12D2'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"

            [imageSrc]="'../../../assets/img/Office.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="30"
            [imageWidth]="30"
    >
            </circle-progress> 
    </div>


    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="30"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#8F12D2'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"

            [imageSrc]="'../../../assets/img/access.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="30"
            [imageWidth]="30"
    >
</circle-progress>
    </div>



<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="30"
        [radius]="30"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#8F12D2'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"

        [imageSrc]="'../../../assets/img/mysql.png'"
        [showImage]="true"
        [showSubtitle]="false"
        [showUnits]="false"
        [imageHeight]="30"
        [imageWidth]="30"
            >
        </circle-progress>
</div>


<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="30"
        [radius]="30"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#8F12D2'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"

        [imageSrc]="'../../../assets/img/java.png'"
        [showImage]="true"
        [showSubtitle]="false"
        [showUnits]="false"
        [imageHeight]="30"
        [imageWidth]="30"
            >
        </circle-progress>
</div>






</div>

 

