<div id="div">
    <h2 >Mis Habilidades</h2>
        <p>
            Buen manejo en office 
            <img src="./assets/Office.png">
            
        </p>
        <p>
            Conocimientos en Hardware y Software
        </p>
        <p>
            Seguridad Informatica (camaras y alarmas)
        </p>
        <p>
            Ingles basico
        </p>
        <p>Diseño y gestion de Base de datos <img src="./assets/access.png">
             <img src="./assets/mysql.png">
            
            
        </p>
        <p>Lenguajes de programacion 
        <img src="./assets/cc.png">
            <img src="./assets/html.png">
            <img src="./assets/css.png">
            <img src="./assets/angular.png">
        </p>
        
   </div>
