<div id="conteiner"  class="row">
    <h1 >Mis Habilidades</h1>
    

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="30"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"

            [imageSrc]="'../../../assets/angular.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="30"
            [imageWidth]="30"
    >
            </circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="30"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"

            [imageSrc]="'../../../assets/cc.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="30"
            [imageWidth]="30"
    >
        </circle-progress>
    </div>


    <div class="col-sm-4 col-md-4 col-lg-4">
    
        <circle-progress
            [percent]="70"
            [radius]="30"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"

            [imageSrc]="'../../../assets/css.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="30"
            [imageWidth]="30"
    >
        </circle-progress>
    </div>




    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="30"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"


            [imageSrc]="'../../../assets/html.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="30"
            [imageWidth]="30"
    >
        </circle-progress>
    </div>




    <div class="col-sm-4 col-md-4 col-lg-4">

        <circle-progress
            [percent]="70"
            [radius]="30"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"


            [imageSrc]="'../../../assets/photoshop.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="30"
            [imageWidth]="30"
    >
            </circle-progress>
    </div>




    <div class="col-sm-4 col-md-4 col-lg-4">
      
        <circle-progress
            [percent]="70"
            [radius]="30"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"

            [imageSrc]="'../../../assets/Office.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="30"
            [imageWidth]="30"
    >
            </circle-progress> 
    </div>


    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="30"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"

            [imageSrc]="'../../../assets/access.png'"
            [showImage]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [imageHeight]="30"
            [imageWidth]="30"
    >
</circle-progress>
    </div>



<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="70"
        [radius]="30"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"

        [imageSrc]="'../../../assets/mysql.png'"
        [showImage]="true"
        [showSubtitle]="false"
        [showUnits]="false"
        [imageHeight]="30"
        [imageWidth]="30"
>
        </circle-progress>
</div>
</div>

 

